<ion-header>
  <ion-title>
   User profile
  </ion-title>
  <ion-icon class ="settingsIcon" name="settings"></ion-icon>

</ion-header>


<ion-content>
  <div class="mainItemsHolder">
    <ion-avatar class = "profileImage">
      <img  src={{(userDataSet|async)?.profilePicUrl}}>
    </ion-avatar>
    <ion-label class="userId">{{(userDataSet|async)?.name}}</ion-label> 
    <div class="profileItem">
        <ion-label>Since</ion-label>
        <ion-label class="valueText" >{{ (userDataSet | async)?.since }}</ion-label>
    </div>

    <div class="profileItem">
        <ion-label >Total Comments</ion-label>
        <ion-label class="valueText">{{ (userDataSet | async)?.totalComments }}</ion-label>
    </div>

    <div>
      <button class="logInBtn" ion-button (click)="logout()">Log out</button>
    </div>
  </div>
</ion-content>
