ion-header{
    background-color: rgb(24, 126, 129);
    display:flex;
    flex-direction: row;
}

ion-title{
    color: white;
   
}


.settingsIcon{
    font-size: 190%;
    color: white;
    margin-right: 13px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.mainItemsHolder{
    align-items: center;
    //justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    align-content: center;
    height: 100%;
    display:flex;
    flex-direction: column;
}

.profileImage{
    height: 8em;
    width: 8em;
}

.userId{
    font-size: 150%;
    margin-top: 2%;
    font-style: oblique;
    margin-bottom: 3%;
}

.profileItem{
    border-radius: 10px !important;
    background-color: rgb(220, 224, 224);
    width: 93%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 18px;
    margin-top: 1%;
    display: block;
    //flex-direction: row;
    
}

.valueText{
    font-size: 15px;
    font-style: inherit;
    float: right;
    margin-right: 15px;
    color: rgb(24, 126, 129);

}

.logInBtn{
    margin-top: 10%;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 7rem;
    padding-right: 7rem;
    border-radius: 20px !important;
    width: 100%;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(24, 126, 129);
    color: white;
}