.mainClass{
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100%;
    display:flex;
    flex-direction: column;
    background-color: rgb(24, 126, 129);
}

.pageTitle{
    color: aliceblue;
    font-size: 300%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-bottom: 4%

}

.emailHolder{
    width: 85%;
    margin-bottom: 8px;
    background: transparent;
    //background-color: #f6f6f6;
    border-radius: 40px !important;
    //border-color: #f6f6f6;
    //border-width: 1rem
}

ion-input{
    width: 85%;
    background: transparent;
    border-radius: 35px !important;
    margin-left: 10px;
}

.logInBtn{
    margin-top: 4%;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 30px !important;
    width: 100%;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #FFD700;
    color: beige;
}

ion-footer{
    color: white;
    background-color: rgb(24, 126, 129);
    padding: 14px;
}

.signIn{
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:rgb(24, 126, 129);
    color: beige;

}

.signInBtnHolder{
    text-align: center;
}