<ion-content>
 

  
     <!-- <ion-card *virtualItem="let comment">
        <div>
          <ion-img [src]="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.Y6Xo7ozc-rL5UrzUanPlxAHaHa%26pid%3DApi&f=1" [height]="20px" [alt]="image"></ion-img>
        </div>
      <ion-card-header>
        <ion-card-title>{{ item.useremail }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>{{ item.commenttext }}</ion-card-content>
      </ion-card> 
    
    <div class="commentingSection">
      <ion-textarea [(ngModel)]="userComment.comment"  placeholder="add a comment.."></ion-textarea>
      <ion-icon name="send" class="commentSendIcon" (click)="validateTheComment()"></ion-icon>
    </div>
--> 

  <ion-virtual-scroll [items]="comments" approxItemHeight="'100px'">
    <div *virtualItem="let comment" > <!--Wrapping with a div is important-->
      <ion-card>
        <div class="likeHolder">
          <ion-avatar>
            <img src="{{comment.url}}">
          </ion-avatar>
          <ion-icon name="arrow-dropup" class="likeUpDown" (click)="voting(1,comment.id)"></ion-icon>
          <ion-label class="likeAmount">{{getTheNumberOfLikesOfThePost(comment.id)}}</ion-label>
          <ion-icon name="arrow-dropdown" class="likeUpDown" (click)="voting(0,comment.id)"></ion-icon>
        </div>
        <div class="cardContent">
          <ion-label class="commentatorName">{{comment.username}}</ion-label>        
          <p class="commentSection">{{comment.commenttext}}</p>
        </div>
      </ion-card>
    </div>
  </ion-virtual-scroll>

  <div class="commentingSection">
      <ion-textarea [(ngModel)]="userComment.comment"  placeholder="add a comment.."></ion-textarea>
      <ion-icon name="send" class="commentSendIcon" (click)="validateTheComment()"></ion-icon>
  </div>

 
  
  
  
  
</ion-content>
