ion-content{
    display: block;
    flex-direction: column;
}

.commentingSection{
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: rgb(235, 235, 235);
    border-radius: 20px !important;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

.commentListHolder{
    height: 88%;

}

.commentSendIcon{
    color: rgb(24, 126, 129);
    font-size: 2em;
    margin-right: 4px;
}