ion-content{
    display: block;
    flex-direction: column;
}

.commentingSection{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: rgb(235, 235, 235);
    border-radius: 20px !important;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

.commentListHolder{
    height: 88%;

}

.commentSendIcon{
  
    color: rgb(24, 126, 129);
    font-size: 2em;
    margin-right: 4px;
}

ion-card{
    background-color: white;
    display: flex;
    flex-direction: row;

}

.viewStory{
    font-size: 1.5em;
    margin-bottom: 8px;
    margin-top: 6px;
}

.cardContent{
    display: flex;
    flex-direction: column;
    width: 76%;
    margin-top: 10px;
    margin-left: 6px;
    margin-right: 6px;
}

ion-avatar{
    margin-top: 0.7em;
    margin-left: 0.6em;
    margin-right: 0.2em;
    max-width: 3.6em;
    max-height: 3.6em;
 

}

.timeBadge{
    width: 30%;
    font-size: 0.8em;
    margin-top: 7px;

}

.likeHolder{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 90%;
    align-items: center;
    justify-content: center;
    align-content: center;

}

.likeUp{
    font-size: 2.2em;
    

}


.likeDown{
    font-size: 2.2em;
   
}

.likeAmount{
    font-size: 1.3em;
    margin-top: 6px;
}

.commentatorName{

    font-size: 1.5em;
    font-style: oblique;
    color: black;
    
}

.commentSection{
    margin-left: 0.3em;
}


