
<ion-content>
  <ion-card>
    <ion-card-header>
        <ion-avatar>
            <img src="https://ptetutorials.com/images/user-profile.png">
        </ion-avatar>
        <div class="commentData">
            <ion-label class="commentatorName">atheesh27</ion-label>        
            <ion-label class="addedtime">18 : 54 : 00</ion-label>
        </div>
        <div class = "votingSection">
            <ion-icon name="arrow-dropup" class="likeUp"></ion-icon>
            <ion-label class="likeAmount">43</ion-label>
            <ion-icon name="arrow-dropdown" class="likeDown"></ion-icon> 
        </div>
    </ion-card-header>

    <div class="commentSection">
      <p class = "comment">wehfwjefnejfnwejfnweljnfkwjfn
        eqfbhebfkjefwkjfndwbfjkwnfkjnfkjnfjknjgnlwkngwrlknlfwlkmflwf mlwfklwfmlwk
        wnfjkwfnwkjfnkjfnwfjwdbfsjkdnfjhfrgn  ojpfpr  kprk  pjiorkvk i ffhurfjifj nok npokpro 
        wbfjkwbkffjkwnfjwnfwfnwlfnwelfnw fhencr er  eniuie rwe  neirokrfelwfon fefe opjfiom
        wfkjwbfjknfjknfwkjkfnwlfj hi my name is sathees chamalka rathnaweera i a  form maharagama
        sfbwhjfbwfwjfnwefjwfiwfwjgwrog good morning all
        have a nice daya thank you fuckers
        ewhbfhjb  gjgnerj gnkremlkflmfklfm  nfjncf  fclkekj kmdx  lmmmmfjf ccnv rjnlkrlwekrklxmxejxek l
        fbjkbjkgerjgergj.ebgerhgbegjberkgjebrigegkj.dhbhbwghrbg.wbefifbwifbjerkgj
        bfgwirhgihwrbijiqgnqiej
        rngjgrngrjngorngnjqenogjnergjtgjrgn
        fibwnfjkdnfdjnfowemffogniooqpjcnferjweork

        vghvjhbhbhbkjkknj
        gvgvhjkjnjkbjhbuhbjhbkjnjnjknlklkmlkjjkjkhbdddddddddddddddddddddddddddddddddddddddjdwbfwbfjwbjwgjwgnjk
        jdnfjnfjnfjnwrlfkmwrlkfmlwkfmwkmfwkfmwlfmwlrgwrgwrlmgm,vd,mvkdfvm kfmfeflkmvlkmlkemrlv,fv,f,vvlf,çfvflvf,v 
        jnvnfvnfvnmf vfv fkv fm vkm vkmvfjkv emfv kvnekjverjvrfmvk vmd vdvkfv ,mv
        fbjjflllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll
        mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
        ooooooooooooooooooooooooooooooooooooooooooooooooooooooo
      </p>

    </div>

  </ion-card>

</ion-content>
