ion-card{
    height: 97%;
    box-shadow: 5px 5px 5px 5px #999; 
    -moz-box-shadow: 3px 3px 3px 3px #999;
    -webkit-box-shadow: 3px 3px 3px 3px #999;
   
}

ion-card-header{
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 1px #999; 
    -moz-box-shadow: 1px 1px 1px #999;
    -webkit-box-shadow: 1px 1px 1px #999;
    background-color: rgb(24, 126, 129);
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

.commentData{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10px;
    margin-top: 3%;
    padding-right: 3px;
}

.votingSection{

    display: flex;
    flex-direction: column;
    width: 2.2em;
    align-items: center;
    margin-right: 5px;
}

ion-textarea{
    color: black;
    font-size: 1.1em;
    overflow-y: hidden;
    
    
    
}

ion-avatar{
    position: relative;
    left: 0;
    width: 22%;
    max-width: 4.4em;
    max-height: 4.4em;
    color: rgb(24, 126, 129);
    margin-top: 2.2%;
    align-items:center;
}

.likeUp{
    font-size:2em;
    padding: 0px;
    
}

.likeDown{
   
    font-size:2em;
}

.likeAmount{
    font-size: 1.1em;
    color: white;
}

.addedtime{
    font-size: 0.8em;
    color: whitesmoke;
}

.commentatorName{
    font-size: 1.7em;
    color: white;

}

.commentSection{
    overflow-y: scroll;
    padding-left: 10px;
    padding-right: 10px;
    height: 95%;
    width: 100%;


}

.comment{
    font-size: 1.1em;
}