<ion-header>
  <ion-icon class = "menuIcon" name="menu" (click)="seeProfile()"></ion-icon>
    <ion-title>
    </ion-title>
    <ion-icon class = "profileIcon" name="contact" (click)="seeProfile()"></ion-icon>
  
</ion-header>


<ion-content>
<ion-card class="todaysPhotoHolder">

  <ion-chip outline color="success" class="dateBadge">
      <ion-icon name="calendar"></ion-icon>
      <ion-label class="dateLabel">{{(receivedPostData|async)?.date}}</ion-label>
  </ion-chip>

  <img class="imageSrc" src={{(receivedPostData|async)?.url}}>

  <div class="photoDataHolder">
    <ion-icon name={{likeBtnName}} class="likeIcon" (click)="likeThePost()"></ion-icon>
    <ion-label class="numberOfLikes">{{(receivedPostData|async)?.likes}}</ion-label>
    <ion-label class="commentsLabel">comments</ion-label>
    <ion-label class="numberOfComments">{{(receivedPostData|async)?.totalcomments}}</ion-label>
  </div>

  <button class="commentBtn" ion-button  (click)="presentModal()">Add a comment</button>

  <div class="topCommentsSection">

    <ion-label class="topCommentsLabel">Top comments</ion-label>

    <div class="commentHolder">
       
      <ion-label class="totalLikes">{{topComment.likes}}</ion-label>
      

      <div class="comment">
          <ion-label class="commentator">{{ topComment.username }}</ion-label>
          <ion-label class="commentText">{{topComment.commenttext}}</ion-label>
      </div>
    </div>
  </div>

</ion-card>
</ion-content>
