<ion-content>
    <div class="mainClass">
      <ion-label class="pageTitle">REGISTER</ion-label>

      <ion-item class="emailHolder">
        <ion-icon name="person"></ion-icon> 
        <ion-input type="text" [(ngModel)]="user.name" placeholder="Enter name"></ion-input>
      </ion-item>
  
      <ion-item class="emailHolder">
        <ion-icon name="mail"></ion-icon> 
        <ion-input type="email" [(ngModel)]="user.email" placeholder="Enter email"></ion-input>
      </ion-item>
  
      <ion-item class="emailHolder">
        <ion-icon name="unlock"></ion-icon>
        <ion-input type="password" [(ngModel)]="user.password" placeholder="Enter password"></ion-input>
      </ion-item>
      
      <div>
        <button class="logInBtn" ion-button  (click)="createTheAccount()">Create the account</button>
      </div>
  
    </div>
  
  </ion-content>
